<!-- TOP HEADER -->
@model eUseControl.Web1.Models.UserData
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-phone"></i> +(373) 602-53-180</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> globalauto@mail.com</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> Studentilor 10/1</a></li>
        </ul>
        <ul class="header-links pull-right">
            <li><a href="#"><i class="fa fa-dollar"></i> MDL</a></li>
            <li><a href="@Url.Action("registration","Home")"><i class="fa fa-user-o"></i> Авторизироваться</a></li>
            <li>
                <a><font color="white"><i class="fa fa-user-o"></i>@Model.UserName</font></a>
            </li>
        </ul>
    </div>
</div>
<!-- /TOP HEADER -->