@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>02</h3>
                                <span>Дней</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>10</h3>
                                <span>Часов</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34</h3>
                                <span>Минуты</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>41</h3>
                                <span>Секунд</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">Горячее предложение недели</h2>
                    <p>Toyota Prius и Nissan Leaf <br>-10% скидка</p>
                    <a class="primary-btn cta-btn" href="@Url.Action("checkout","Home")">Заказать</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal1" class="section1">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>06</h3>
                                <span>Дней</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>21</h3>
                                <span>Часов</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>21</h3>
                                <span>Минуты</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>21</h3>
                                <span>Секунд</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">Горячее предложение недели</h2>
                    <p>Mercedes-Benz S-Class и  BMW M5 COMPETITION<br>-15% скидка</p>
                    <a class="primary-btn cta-btn" href="@Url.Action("checkout","Home")">Заказать</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->