@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Правила Пользования</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">Правила</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section"
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- Договор -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/Content/img/dogovor.PNG" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Документ</p>
                                        <h3 class="product-name"><a href="https://amigocar.md/contract/docs_file/Contract_carsharing_Amigo_ru.pdf" target="_blank">Договор Global Auto</a></h3>
                                    </div>

                                </div>
                                <!-- /Договор -->
                                <!-- Правила пользования -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/Content/img/pravila2.png" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Документ</p>
                                        <h3 class="product-name"><a href="https://amigocar.md/contract/docs_file/App_1_terms_of_use_ru.pdf" target="_blank">Правила Пользования</a></h3>
                                    </div>

                                </div>
                                <!-- /Правила пользования -->
                                <!-- Штрафы -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/Content/img/straf.png" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Документ</p>
                                        <h3 class="product-name"><a href="https://amigocar.md/contract/docs_file/App_3_Tariffs_ru.pdf" target="_blank">Штрафы, санкции</a></h3>
                                    </div>

                                </div>
                                <!-- /Штрафы-->
                                <!-- Акт приема -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/Content/img/actpriema.png" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Документ</p>
                                        <h3 class="product-name"><a href="https://amigocar.md/contract/docs_file/transmission_acceptance_certificate_ru.pdf" target="_blank">Акт приема, передачи</a></h3>
                                    </div>

                                </div>
                                <!-- /Акт приема-->
                                <!-- Заявление -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="~/Content/img/zayava.png" alt="">

                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Документ</p>
                                        <h3 class="product-name"><a href="https://amigocar.md/contract/docs_file/App_6_termination_statement_ru.pdf" target="_blank">Заявление о расторжении договора</a></h3>
                                    </div>

                                </div>
                                <!-- /Заявление-->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
				</div>
<!-- /row -->
			</div>
<!-- /container -->
		</div>
<!-- /SECTION -->
